/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos do cabeçalho */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos dos botões */
.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #0069d9;
}

/* Estilos dos serviços */
.services {
    background-color: #f5f5f5;
    padding: 50px;
}

.services h2 {
    text-align: center;
}

.service {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Estilos sobre nós */
.about-us {
    background-color: #fff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us h2 {
    text-align: center;
}

.about-us img {
    width: 500px;
    height: 300px;
    object-fit: cover;
    margin-top: 50px;
}

.about-us p {
    margin-top: 50px;
    text-align: center;
}

/* Estilos do formulário de contato */
.contact {
    background-color: #f5f5f5;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h2 {
    text-align: center;
}

.contact form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 50px;
}

.contact label {
    display: block;
    margin-bottom: 10px;
}

.contact input,
.contact textarea {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    width: 100%;
}

.contact textarea {
    height: 200px;
}

.contact button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.contact button:hover {
    background-color: #0069d9;
}

/* Estilos do rodapé */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    
}
